a.cog-wheel, button.cog-wheel {
    transition: all 0.2s;
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(1px);

    &:hover {
        transform: translateY(0);
    }

    &:active {
        transform: translateY(2px);

        & svg {
            stroke: black;
        }
    }
}
