.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 1rem;
    background: var(--color-surface);
    border-bottom: 1px solid var(--color-border);
    flex-shrink: 0;

    & h1 {
        font-size: 1.25rem;
    }
}

.header {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.header-right {
    align-items: center;
}

.user-handle {
    font-size: 0.875rem;
}
