.route.feed-reader {
    & check-box {
        & label {
            gap: 0.8rem;
        }

        & input {
            width: 1.2rem;
            height: 1.2rem;

            &::before {
                top: 52%
            }

            &::after {
                top: 52%;
            }
        }
    }

    & .sidebar-item {
        border: none;
        border-left: 2px solid transparent;
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.5rem 0.75rem;
        background: none;
        text-align: left;
        font-size: 0.875rem;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background: var(--color-bg);
        }

        &.active {
            background: #2563eb1a;
            color: var(--color-primary);
            border-color: var(--color-primary);
        }
    }
}
